/* css updated as of 14 Nov 2022 UTC */

.articleHead {
  background-image: url(../media/images/VenusIsland_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 50%;
}

.articleArea {
  width: 100%;
  padding: 38px;
}

.inThisArticle {
  width: 100%;
  margin: 19px;
  padding: 38px;
  align-items: center;
  position: relative;
}
.sectionContain {
  width: 75%;
  position: relative;
  background-color: #aaa;
}