/* css updated as of 19 December 2023 UTC */

.NyoHeader {
  height: 100%;
  position: relative;
}
.NyoHead {
  width: 100%;
  min-height: 100vh; /* as per https://stackoverflow.com/questions/64178071/how-do-i-full-screen-with-embed */
  object-fit: cover;
  position: fixed center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/* adapted from https://blog.hubspot.com/website/video-background-css */

.GeneralDIV {
  width: 100%;
  padding: 95px 47.5px;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .GeneralDIV {
    padding: 95px 19px;
  }
}

.ComingSoonFill {
  height: 100%;
  padding: 250px 100px; /* optimized padding values in a clockwise basis [top right bottom left] */
  text-align: center;
}
@media screen and (max-width: 950px) {
  .ComingSoonFill {
    padding: 100px 50px;
  }
}

.ComingSoonGIF {
  width: 100%;
  height: 75%;
  background-image: url(../media/images/loading.gif);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.NotFound {
  width: 100%;
  height: 75%;
  background-image: url(../media/images/fiona_sad.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 950px) {
  .ComingSoonGIF, .NotFound {
    height: 50%;
  }
}

/* DOAXVV Hearts, the graphical standout of #MamaNyoSquad */
  .NyoHeart-left {
    background-image: url(../media/images/heart_transparent_left.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 250px 100px;
    text-align: center;
  }
  .NyoHeart-right {
    background-image: url(../media/images/heart_transparent_right.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 250px 100px;
    text-align: center;
  }
  @media screen and (max-width: 950px) {
    .NyoHeart-left, .NyoHeart-right {
      padding: 100px 50px;
    }
  }

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.siteHEADER {
  width: 100%;
  padding: 19px;
  text-align: center;
  background-color: #ff0000;
  background-image: url(../media/images/BG2024/nyoRed.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  box-shadow: 0 9.5px 19px #06a8ffa0;
}
.logoHead {
  width: 100%;
  height: 95px;
  padding-bottom: 19px;
}
.NyoLogo {
  /* background-image: url(../media/svg/MamaNyoSquad.svg); (DEFAULT) */
  background-image: url(../media/svg/anniv/MamaNyoSquad@3.svg); /* (EVENT) */
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.HeadURLs {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.HeadURLSpan {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
.HeadURL:link {
  color: #ffffff;
  text-decoration: none;
}
.HeadURL:visited {
  color: #ffffff;
  text-decoration: none;
}
.HeadURL:hover {
  color: #eeeeee;
  text-decoration: none;
}
.HeadURL:active {
  color: #06a8ff;
  text-decoration: none;
}
.Active {
  color: #06a8ff;
}

.basicHead-back {
  background-image: url(../media/images/vi_wallpaper/VenusIsland_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.basicHead-fore {
  background-color: #06a8ff60;
  width: 100%;
  height: 75%;
  padding: 475px 190px;
}
@media screen and (max-width: 950px) {
  .basicHead-fore {
    padding: 190px 38px;
  }
}
.entertheuniverse-logo {
  width: 1900px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.NyoWeekHead {
  background-image: url(../media/images/MamaNyoWeek_2022.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.MamaNyoWeekLogo {
  width: 100%;
  height: 375px;
}
.MamaNyoWeek-2022 {
  background-image: url(../media/svg/MamaNyoWeek_2022.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.InceptAnniv {
  padding: 19px;
  text-align: center;
  vertical-align: middle;
  background-color: #06a8ff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer {
  padding: 28.5px 19px 19px 19px;
  padding-bottom: 4.75px;
  background-color: #000000;
  color: #ffffff !important;
  text-align: center;
  font-weight: bold;
}
.footerTagline {
  width: 100%;
  height: 76px;
}
.entertheuniverse {
  background-image: url(../media/svg/entertheuniverse.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.footerText {
  padding-top: 19px;
}
.tbmassoc {
  width: 190px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 9.5px 0;
  cursor: pointer;
}

.DOAXVV5周年 {
  background-image: url(../media/images/DOAXVV5周年.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

/* new button layout, utilizing the <button> property */
.NyoBtn {
  background-color: #161224;
  border: solid 3.8px #ff0000;
  border-radius: 1900px;
  color: inherit;
  padding: 19px 28.5px;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  margin: 9.5px 1.9px 28.5px 1.9px;
  cursor: pointer;
  -webkit-transition: 0.95s;
  -moz-transition: 0.95s;
  -o-transition: 0.95s;
  transition: 0.95s;
}
.NyoBtn:hover {
  background-color: #ff0000;
  border: solid 3.8px #06a8ff;
}

.divTranst {
  width: 100%;
  height: 95px;
}

.dualfeed-col /* dual feed */ {
  float: left;
  width: 50%;
  text-align: center;
  padding: 19px;
}
.trifeed-col /* tri feed */ {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 19px;
}
.quadfeed-col /* quad feed */ {
  float: left;
  width: 25%;
  text-align: center;
  padding: 19px;
}
.feed-row:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 950px) {
  .dualfeed-col, .trifeed-col, .quadfeed-col {
    width: 100%;
    padding: 9.5px;
  }
}

.ytembed {
  width: 100%;
  min-height: 100vh; /* as per https://stackoverflow.com/questions/64178071/how-do-i-full-screen-with-embed */
  pointer-events: none;
  border: none;
  display: block;
}