.ImportantHEAD {
  font-family: "Poppins", sans-serif !important;
  width: 100%;
  padding: 19px;
  text-align: center;
  font-family: "Poppins", sans-serif; /* inherited from root css */
  background-color: #06a8ff;
  color: #ffffff;
  display: block; /* set to "none" if there's nothing to be shown in the headers, "block" if there's any */
}