.ImportantHEAD {
  width: 100%;
  padding: 19px;
  text-align: center;
  font-family: "Poppins", sans-serif; /* inherited from root css */
  background-color: #24292f;
  color: #ffffff;
  display: none; /* uncomment if there's nothing to be shown in the headers */
}