.insideStoryHead {
  width: 100%;
  height: 125%;
  background-color: #d6c278;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.insideStoryContent {
  line-height: 1.5;
  padding: 190px 47.5px;
  box-shadow: 0 0 19px #d6c278;
}

.insideStoryText {
  width: 855px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.journalWrite {
  background-color: #66666680;
  padding: 9.5px;
  border-left: #d6c278 solid 9.5px;
}

img {
  height: .75em;
  padding-right: 5px;
}