/* css updated as of 29 Nov 2022 UTC */

.statustext {
  padding-bottom: 19px;
}

.queued /* Luna */ {
  font-weight: bold;
  color: #f0d2d4;
  text-transform: uppercase;
  /* QUEUED */
}
.active /* Helena */ {
  font-weight: bold;
  color: #fce693;
  text-transform: uppercase;
  /* ACTIVE */
}
.finished /* Misaki */ {
  font-weight: bold;
  color: #a88255;
  text-transform: uppercase;
  /* FINISHED */
}
