/* css updated as of 24 May 2024 UTC */

.statustext {
  padding-bottom: 19px;
}

.queued /* Luna */ {
  font-weight: bold;
  color: #f0d2d4;
}
.ongoing /* Helena */ {
  font-weight: bold;
  color: #fce693;
}
.done /* Misaki */ {
  font-weight: bold;
  color: #a88255;
}

.queued::before {
  content: "QUEUED";
}
.ongoing::before {
  content: "ONGOING";
}
.done::before {
  content: "DONE";
}

.IMPORTANT {
  font-weight: 900;
  padding: 0 9.5px 0 0;
  /* rainbow css from https://codepen.io/zak/pen/rWJzPy */
  -webkit-animation: rainbow 2.5s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: rainbow 2.5s linear;
  -moz-animation-iteration-count: infinite;
  -o-animation: rainbow 2.5s linear;
  -o-animation-iteration-count: infinite;
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}
@-webkit-keyframes rainbow{
  100%, 0% { color: rgb(255,0,0); }
  8% { color: rgb(255,127,0); }
  16% { color: rgb(255,255,0); }
  25% { color: rgb(127,255,0); }
  33% { color: rgb(0,255,0); }
  41% { color: rgb(0,255,127); }
  50% { color: rgb(0,255,255); }
  58% { color: rgb(0,127,255); }
  66% { color: rgb(0,0,255); }
  75% { color: rgb(127,0,255); }
  83% { color: rgb(255,0,255); }
  91% { color: rgb(255,0,127); }
}
@-moz-keyframes rainbow{
  100%, 0% { color: rgb(255,0,0); }
  8% { color: rgb(255,127,0); }
  16% { color: rgb(255,255,0); }
  25% { color: rgb(127,255,0); }
  33% { color: rgb(0,255,0); }
  41% { color: rgb(0,255,127); }
  50% { color: rgb(0,255,255); }
  58% { color: rgb(0,127,255); }
  66% { color: rgb(0,0,255); }
  75% { color: rgb(127,0,255); }
  83% { color: rgb(255,0,255); }
  91% { color: rgb(255,0,127); }
}
@-o-keyframes rainbow{
  100%, 0% { color: rgb(255,0,0); }
  8% { color: rgb(255,127,0); }
  16% { color: rgb(255,255,0); }
  25% { color: rgb(127,255,0); }
  33% { color: rgb(0,255,0); }
  41% { color: rgb(0,255,127); }
  50% { color: rgb(0,255,255); }
  58% { color: rgb(0,127,255); }
  66% { color: rgb(0,0,255); }
  75% { color: rgb(127,0,255); }
  83% { color: rgb(255,0,255); }
  91% { color: rgb(255,0,127); }
}
@keyframes rainbow{
  100%, 0% { color: rgb(255,0,0); }
  8% { color: rgb(255,127,0); }
  16% { color: rgb(255,255,0); }
  25% { color: rgb(127,255,0); }
  33% { color: rgb(0,255,0); }
  41% { color: rgb(0,255,127); }
  50% { color: rgb(0,255,255); }
  58% { color: rgb(0,127,255); }
  66% { color: rgb(0,0,255); }
  75% { color: rgb(127,0,255); }
  83% { color: rgb(255,0,255); }
  91% { color: rgb(255,0,127); }
}
.IMPORTANT-ja::before {
  content: "【重要】";
}
.IMPORTANT-en::before {
  content: "[IMPORTANT]";
}