/* css updated as of 18 Nov 2022 UTC */

.MamaNyo19-back {
  background-image: url(../media/images/MamaNyo19_2022.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.MamaNyo19-fore {
  background-image: url(../media/images/MamaNyo_transparent.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}