body {
  font-family: "EB Garamond", serif;
  font-size: 19px;
  color: #d6c278;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }
}

body {
  width: 100%;
  padding: 237.5px 0;
}

.fillWidth {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  padding: 0 19px;
}

.card {
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
  padding: 19px;
  background-color: #d6c278;
  color: #ffffff;
}

.FAB {
  position: absolute;
  z-index: 1;
  bottom: 0.95%;
  right: 0.95%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-style: none;
  width: 57px;
  height: 57px;
  padding: 14.25px;
  box-shadow: 0 4.5px 9.5px #66666680;
}
.FAB-icon {
  max-width: 100%;
  height: auto;
}

code {
  font-size: 0.75em;
}

pre {
  background-color: #ffffff40;
  padding: 23.75px 4.75px 4.75px 4.75px;
  -moz-border-radius: 4.75px;
  -ms-border-radius: 4.75px;
  -webkit-border-radius: 4.75px;
  -o-border-radius: 4.75px;
  border-radius: 4.75px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}