body {
  font-family: "EB Garamond", serif;
  font-size: 19px;
  color: #d6c278;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }
}

body {
  width: 100%;
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 237.5px;
  padding-right: 237.5px;
}
@media screen and (max-width: 950px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

.fillWidth {
  width: 100%;
}

.title {
  padding-left: 19px;
  padding-right: 19px;
}

.card {
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
  padding: 19px;
  background-color: #d6c278;
  color: #ffffff;
}

.FAB-github {
  position: absolute;
  z-index: 1;
  bottom: 1.9%;
  right: 1.9%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-style: none;
  width: 76px;
  height: 76px;
  background-color: #161224;
  box-shadow: 0 4.5px 9.5px #66666680;
}
.FAB-MIT {
  position: absolute;
  z-index: 1;
  bottom: 1.9%;
  right: 1.9%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border-style: none;
  width: 76px;
  height: 76px;
  background-color: #a31f34;
  box-shadow: 0 4.5px 9.5px #66666680;
}
.FABurl {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.urlblock {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.FAB-iconplace {
  padding: 20px;
  display: flex;
}
.FAB-icon {
  max-width: 100%;
  max-height: 100%;
}

code {
  font-size: 15px;
}

.displayOVL {
  width: 100%;
  height: auto;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -webkit-border-radius: 19px;
  -o-border-radius: 19px;
  border-radius: 19px;
}