/*
  This CSS is required for all HTML documents. This might be updated as more additions come in.
  CSS updated 20 August 2023 UTC
*/

/* Fonts */

  /* Poppins */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    /* font-family: 'Poppins', sans-serif; */

  /* Leckerli One */
  @import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
    /* font-family: 'Leckerli One', cursive; */
  
  /* EB Garamond */
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
    /* font-family: 'EB Garamond', serif; */
  
  /* IBM Plex Mono */
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    /* font-family: 'IBM Plex Mono', monospace; */

  @font-face {
    font-family: 'Kunstler Script', cursive;
    src: url(media/fonts/KUNSTLER.TTF);
    font-display: swap;
  }

  @font-face {
    font-family: 'Vladimir Script', cursive;
    src: url(media/fonts/VLADIMIR.TTF);
    font-display: swap;
  }

/* HTML */

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }

  html {
    background-color: #161224;
    background-image: url(media/images/BG2024/nyoBG.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  a:link {
    color: #ff0000;
    text-decoration: none;
  }
  a:visited {
    color: #880000;
    text-decoration: none;
  }
  a:hover {
    color: #ff3333;
    text-decoration: none;
  }
  a:active {
    color: #aa0000;
    text-decoration: none;
  }

  /* Venus 5 (only applies to DIV) */
  .Nyotengu {
    background-color: #161224;
  }
  .Helena {
    background-color: #fce693;
  }
  .Luna {
    background-color: #f0d2d4;
  }
  .Misaki {
    background-color: #a88255;
  }
  .Elise {
    background-color: #eda2ae;
  }

  code {
    background-color: #ffffff40;
    padding: 4.75px;
    -moz-border-radius: 4.75px;
    -ms-border-radius: 4.75px;
    -webkit-border-radius: 4.75px;
    -o-border-radius: 4.75px;
    border-radius: 4.75px;
    font-family: 'IBM Plex Mono', monospace;
  }