@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
}

header {
  background-color: #1d9bf0;
  padding: 25px;
  text-align: center;
}

footer {
  background-color: #000000;
  padding: 25px;
  text-align: center;
}

a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #dddddd;
  text-decoration: none;
}
a:active {
  color: #1d9bf0;
  text-decoration: none;
}

.content {
  padding: 25px 250px;
}
@media screen and (max-width: 1000px) {
  .content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 500px) {
  .content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.notice {
  background-color: #1d9bf0;
  padding: 50px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}