@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

html {
  background-color: #8b3c1b;
  background-image: url(../../media/images/sinoalice_bg2.jpg);
}
body {
  font-family: "Noto Serif JP", serif;
  color: #d8dce4;
}

.textarea {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 190px 19px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  text-align: center;
}

.embedStream {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}