/* core stylesheets */

@import url("/assets/css/fonts.css"); /* all the other fonts */

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css");

img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

/* googlefonts icons */
span[class^="material-symbols"] {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 1.9rem;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0 7.6px 7.6px 7.6px;
  -webkit-transition: 0.95s;
  -moz-transition: 0.95s;
  -o-transition: 0.95s;
  transition: 0.95s;
}
span[class^="material-symbols"]:hover {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 24;
  color: #06a8ff;
}

header {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1900;
  padding: 19px 38px;
  background: linear-gradient(#ff0000a0, #00000000);
}
.flexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkRefs {
  display: flex;
  justify-content: right;
  align-items: center;
}
#mobile-navPanel {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3800;
  padding: 28.5px 38px 19px 38px;
  background-color: #161224;
  text-align: right;
  box-shadow: 0 9.5px 19px #ff0000a0;
  -webkit-transition: 0.95s;
  -moz-transition: 0.95s;
  -o-transition: 0.95s;
  transition: 0.95s;
  transform: translateY(-19rem);
  background-image: url("/assets/images/background/nyoBG.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.closeNav { margin-left: 19px; }

footer {
  background-color: #000000;
  padding: 19px 38px;
  overflow: auto;
}
.footText {
  font-weight: 200;
  font-size: small !important;
  margin: 0 9.5px;
}
a[onclick="{ window.open('https://tbmassoc.github.io'); }"]:hover {
  cursor: pointer;
  color: #dcc6bb;
}
span[onclick="{ showMIT(); }"]:hover { color: #a31f34; }
span[onclick="{ window.location.replace('/clock?format=12'); }"]:hover {
  cursor: pointer;
  color: #06a8ff;
}

button {
  background-color: #161224;
  border: solid 2.85px #ff0000;
  border-radius: 1900px;
  color: inherit;
  padding: calc(1.9rem / 3.75) 1.9rem;
  font-family: inherit;
  font-size: calc(1.9em / 2);
  text-align: center;
  text-decoration: none;
  margin: 9.5px 1.9px 28.5px 1.9px;
  cursor: pointer;
  -webkit-transition: 0.475s;
  -moz-transition: 0.475s;
  -o-transition: 0.475s;
  transition: 0.475s;
}
button:hover {
  background-color: #ff0000;
  border: solid 2.85px #06a8ff;
}
button:active {
  background-color: #ffffff;
  border: solid 2.85px #06a8ff;
  color: #ff0000;
  -webkit-transition: 0.19s;
  -moz-transition: 0.19s;
  -o-transition: 0.19s;
  transition: 0.19s;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  /* pointer-events: none; */
}

/* NEW FORMAT!! supplementary buttons are now in a separate space */
.btnOther {
  display: flex;
  justify-content: end;
  align-items: center;
}
/* styling formats for supplemental buttons */
.btnOther > * { display: inline-block; }

/* mamaNyoDialog v2 */
#mamaNyoDialog {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #16122480;
  z-index: 5000;
  -webkit-backdrop-filter: blur(9.5px);
  backdrop-filter: blur(9.5px);
  /* opacity: 0; */
  /* -webkit-transition: 1.25s; */
  /* -moz-transition: 1.25s; */
  /* -o-transition: 1.25s; */
  /* transition: 1.25s; */
}
#mamaNyoDialog > div {
  max-width: 100%;
  max-height: 100%;
  border-radius: 19px;  
  -webkit-filter: drop-shadow(0 9.5px 19px #161224a0);
  filter: drop-shadow(0 9.5px 19px #161224a0);
  overflow: auto;
}
#mamaNyoDialog > div > *, #mamaNyoDialog > div > div > * { margin: 0 !important; }
#mamaNyoDialog > div > iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: none;
  pointer-events: all;
}

#ajaxTxt > *, .MITtxt > * { margin: 0; }
#ajaxTxt > div > * {
  margin: 0;
  text-align: left;
}

span[isLabel="MAJOR"] {
  padding: 1.9px 9.5px;
  background-color: #ff0000;
  border-radius: 9999px;
}
span[isLabel="MINOR"] {
  padding: 1.9px 9.5px;
  background-color: #06a8ff;
  border-radius: 9999px;
}

/* article layout */
.heroBack {
  position: -webkit-sticky;
  position: sticky;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -19;
}
.heroFore {
  background-color: #161224a0;
  padding: calc(285px + 95px) 19px 285px 19px;
  text-align: center;
}
[feed] {
  width: 100vw;
  padding: 19px;
}
[feed] * { margin: 0; }
[feed] > div {
  width: calc(190px * 5);
  max-width: 100%;
  margin: 0 auto;
}

.bi {
  cursor: pointer;
  font-size: calc(1.9rem * 0.625);
  color: inherit;
  margin: 0 calc(1.9px * 3) 0 calc(1.9px * 1.25);
  padding: 2.85px;
  -webkit-transition: 0.95s;
  -moz-transition: 0.95s;
  -o-transition: 0.95s;
  transition: 0.95s;
}
.bi:hover { color: #06a8ff; }