.notFoundHead {
  background-color: #000000;
  background-image: url("/assets/images/background/nyoBG.png");
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 285px 19px 190px 19px;
  text-align: center;
}

.hero * { margin: 0; }
.heroHead1-fhd {
  background-image: url("/assets/images/hero/Helena_hero.jpg");
  background-size: 150%;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heroHead2-fhd {
  background: linear-gradient(120deg, #00000000 40%, #161224);
  padding: 285px 190px;
  padding-top: 380px;
  overflow: auto;
}
.heroSlogan-fhd {
  width: 45%;
  float: right;
  text-align: center;
}

.heroHead1-hd {
  background-image: url("/assets/images/hero/Helena_hero.jpg");
  background-size: cover;
  background-position: 45% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heroHead2-hd {
  background-color: #161224a0;
  padding: 285px 19px;
  padding-top: 380px;
  overflow: auto;
}
.heroSlogan-hd {
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.sloganLogo-hd { padding: 0 28.5px; }

@media screen and (min-width: 665px) {
  #footPage {
    float: right;
    margin: 0;
    text-align: right;
    width: 75%;
  }
}
@media screen and (max-width: 665px) {
  #footPage {
    float: unset;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}

div[style="text-align: center;"] { padding: calc(19px * 10) 0; }

.annivColl {
  position: relative;
  width: 100%;
}
.annivColl > .annivOVL {
  position: absolute;
  background: linear-gradient(to right, #161224 10%, #00000000 30%, #00000000 70%, #161224 90%);
  width: 100%;
  height: 100%;
}

div[feed] > div > div[win10migrate] video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 2;
  -o-object-fit: cover;
  object-fit: cover;
  /* background-color: #000000; */
}